body {
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    margin: 0 auto; 
    padding: 20px;
    line-height: 1.6;

}

section {
    margin-bottom: 60px;
}

#midia, #video {
    text-align: center;
}

h1, h2 {
    color: #d32f2f;
    text-align: center;
    text-decoration: underline;
}

p, label, ul, table {
    color: #333333;
}

p::first-letter {
    font-size: 2em;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #cccccc; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

table tr.linha-destaque,
table tr.linha-destaque td {
    color: #007396;
    font-weight: bold;
}

nav ul li:nth-child(2) a {
    color: #007396;
    font-weight: bold;
}

label.label-cor3 {
    color: #007396;
    font-weight: bold;
}

footer {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}